body {
	background-image: url("rockywall.png");
	background-repeat: repeat;

}

h1, h2, h3 {
	text-align: center;
}

ul {
	margin-top: 50px;
}

li {
	height: 100px;
	max-width: 150px;
	border-width: 2px;
	border-height: 100px;
	padding: 10px;
  display: inline;
  text-align: center;
  font-size: 15px;
}